<p id="notice"><%= notice %></p>

<p>
  <strong>Inputid:</strong>
  <%= @input.inputid %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @input.icon %>
</p>

<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
