<!DOCTYPE html>
<html>
  <head>
    <meta name="keywords" content="yu,kojima,tryout2017">
    <meta name="description" content="About SP">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>SP</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="/footerFixed.js"></script>  </head>-->

  <body class='<%= "#{controller.controller_name}" %>'>
    <header>
      <section class="logo">
        <h1>StrongPass</h1>
        <button class="btn-flow">
          <span class="line1"></span>
          <span class="line2"></span>
          <span class="line3"></span>
        </button>
        <button class="btn-up">▲</button>
        <button class="btn-down">▼</button>
      </section>
      <nav>
        <section class="flow">
          <ul>
            <li><a href=''>Flow001</a></li>
            <li><a href=''>Flow002</a></li>
            <li><a href=''>Flow003</a></li>
            <li><a href=''>Flow004</a></li>
          </ul>
        </section>
      </nav>
    </header>
    <div class="top-space"></div>
    <aside>
      <section class="menu">
        <ul>
          <li class="link-logout"><%= link_to 'ログアウト', logout_path, data: {confirm: 'ログアウトしますか？'}, method: :delete %></li>
          <li><a>Munu002</a></li>
          <li><a>Munu003</a></li>
          <li><a>Munu004</a></li>
        </ul>
      </section>
    </aside>
    <main>
      <%= yield %>
    </main>
    <footer id="footer">
      <br>
      <p>All...</p>
      <br>
    </footer>
  </body>
</html>
